# Gradle
.gradle/
.gradle-local/
build/
out/
gradle/wrapper/gradle-wrapper.jar

# VS Code
.vscode/

# Logs
*.log

# WPILib Sim GUI local config
networktables.json
simgui*.json

# OS files
.DS_Store
Thumbs.db
